.style{
  display: "flex";
  flex-direction: row;
  padding:"20px";
}
.details{
    border: 2px;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    width: 85rem;
    height: 200px;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.box {
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    width: 10rem;
    height: 120px;
    padding: 30px;

    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
  .search-bar{
    text-align: left;
    border: 1px;
    border-radius: 10px;
    margin: 10px;
    width: 80rem;
    height: 130px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  .headimg{
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    float: left;
    padding-left: 25px;
    padding-top: 25px;
   
 
    
  }
  